<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgendarEvento.Properties.Settings.PruebaConnectionString"
            connectionString="Data Source=LTP-CCTV-3\SQLEXPRESS;Initial Catalog=Prueba;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="unica" 
			 connectionString="Data Source=LTP-CCTV-3\SQLEXPRESS;Initial Catalog=Prueba;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>